
@model PruebaAlmacenes.Models.ViewModel.RecoveryPasswordViewModel

@{
    ViewBag.Title = "Recovery";
}



<h2>Asignar nueva contraseña.</h2>
<br />
<div style="color:green;">
    @ViewBag.Message
</div>

<div style="color:red;">
    @ViewBag.Error
</div>

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form action="@Url.Content("~/Access/Recovery")" method="post">
                @Html.HiddenFor(d => d.Token)

                <label>Escribe tu contraseña.</label>
                @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password, null, new { style = "color:red" })

                <label>Vuelve a escribir tu contraseña.</label>
                @Html.PasswordFor(d => d.Password2, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password2, null, new { style = "color:red" })
                <br />
                <div class="text-right">
                    <button class="btn btn-primary">Recuperar</button>
                </div>
            </form>
        </div>
    </div>
</div>

