
@model PruebaAlmacenes.Models.ViewModel.RecoveryViewModel

@{
    ViewBag.Title = "Recuperación de Contraseña.";
}



<h2>Recuperación de Contraseña.</h2>
<br />
<div style="color:green;">
    @ViewBag.Message
</div>

<div style="color:red;">
    @ViewBag.Error
</div>


<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form action="@Url.Content("~/Access/StartRecovery")" method="post">
                <label>Escribe tu correo electrónico.</label>
                @Html.TextBoxFor(d => d.Email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Email, null, new { style = "color:red" })
                <br />
                @*<label>Elija su Fecha de Nacimiento.</label>
                @Html.EditorFor(d => d.FechaNacimiento, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.FechaNacimiento, null, new { style = "color:red" })
                <br />*@

                <div class="form-group">
                    <label>Elija su Fecha de Nacimiento.</label>    
                    <div class="col-md-10">
                        @Html.EditorFor(d => d.FechaNacimiento, new { htmlAttributes = new {  @class = "datepicker" } })
                        @Html.ValidationMessageFor(d => d.FechaNacimiento, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="text-right">
                    <button class="btn btn-primary">Recuperar</button>
                </div>
            </form>
        </div>
    </div>
</div>


